*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

body
{
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    border: 0.3rem solid black;
    display: flex;
}

.box
{
    width: 10rem;
    height: 10rem;
}

.box1
{
    background-color:salmon;
}

.box2
{
    background-color:beige
}

.box3
{
    background-color:seagreen
}

.box4
{
    background-color:lavenderblush
}

.box5
{
    background-color:crimson
}

.box6
{
    background-color:khaki
}