*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html 
{
    font-size: 62.5%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main
{
    width: 90%;
    margin: 0 auto;
}

.first-block
{
    position: absolute;
    font-size: 1.8rem;
    display: inline-block;
    background-color: cadetblue;
    width: 25%;
    height: 50px;
    text-align: center;
    padding-top: 6px;
    margin: auto;
    border-radius: 7px;
    top: 5rem;
    right: 2rem;
    left: 2rem;
    bottom: auto;
}


.second-block
{
    position: relative;
    bottom: -8rem;
    font-size: 1.6rem;
    background-color: antiquewhite;
    width: 40%;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    border-radius: 7px;
    
    
}