/*Rem.

Rem siempre va a funcionar con respecto al valor de la etiqueta HTML. 
*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} /*Esto siempre debería venir en nuestros CSSs*/

html
{
    font-size: 62.5%; /*Como el valor por defecto es 16px, entonces el 62,5% es 10px.*/
}

p
{
    font-size: 1.6rem; /*Como un 1 rem = 1 fontzze de html -> 10 px. Entonces esto será 1.6*10px = 16px */
}

main div 
{
    font-size: 1.6rem;
}